body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #93C1B9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.my-nav {
  background-color: #508F83;
}


.my-nav a {
  color: white;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: white;
}

#app-container {
  margin-top: 1em;
  margin-left: 1em;
  
}

.app {
  width: 100%;
}

/* .reservations-table th, .reservations-table td {
  border: 1px solid black;
} */

.button {
  background-color: lightgrey;
  color: white;
}

.footer-link {
  display: inline-block;
  margin-left: 1em;
  color: blue;
}

.footer {
  position: absolute;
  bottom: 0.5em;
  left: 50%;
  
}

.reservations-table {
  color: white;
  border-radius: 0.5em;
  background-color: #508F83;
}

.reservations-table-container {
  margin: 0 auto;
  /* width: 80em; */
}

.reservations-table th, .reservations-table td {
  padding: 1.5em;
}

.remove {
  background-color: transparent;
  border: none;
  color: white;
}

.reservation-name {
  color: white;
}

.reservation-name:hover {
  color: white;
}